In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
AAPL_OB = pd.read_csv("./data/AAPL/AAPL_2019-01-02_24900000_57900000_orderbook_10.csv", header=None)
AAPL_M = pd.read_csv("./data/AAPL/AAPL_2019-01-02_24900000_57900000_message_10.csv", header=None)

/var/folders/lz/7z_hp6dd6q308wv0q5lw0zbr0000gn/T/ipykernel_64964/998049333.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  AAPL_M = pd.read_csv("./data/AAPL/AAPL_2019-01-02_24900000_57900000_message_10.csv", header=None)

In [50]:
AAPL_OB

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1,9999999999,0,1250000,100,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
3,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
4,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093399,1550000,250,1405500,10,1960000,15,1270000,1000,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093400,1550000,250,1405500,10,9999999999,0,1270000,1000,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093401,1550000,250,1270000,1000,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093402,1550000,250,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093403,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0

In [51]:
OB_header = []
for i in range(1, AAPL_OB.shape[1]//4 + 1):
    OB_header.append(f'ask_price_{i}')
    OB_header.append(f'ask_size_{i}')
    OB_header.append(f'bid_price_{i}')
    OB_header.append(f'bid_size_{i}')

AAPL_OB.columns = OB_header
AAPL_OB

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1,9999999999,0,1250000,100,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
3,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
4,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093399,1550000,250,1405500,10,1960000,15,1270000,1000,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093400,1550000,250,1405500,10,9999999999,0,1270000,1000,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093401,1550000,250,1270000,1000,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093402,1550000,250,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093403,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0

In [52]:
AAPL_M = AAPL_M.iloc[:,:-1]
M_header = ['time_sec', 'event_type', 'order_ID',
            'size', 'price', 'direction']

AAPL_M.columns = M_header

AAPL_M

             time_sec  event_type   order_ID  size    price  direction
0        11316.013356           7          0     0        1         -1
1        14400.018599           1      21353   100  1250000          1
2        14400.030102           1      33673     1  1307400          1
3        14400.031059           1      34089     1  1174800          1
4        14400.032449           1      34685   100   960600          1
...               ...         ...        ...   ...      ...        ...
1093399  72000.071248           3  400904933   100  1078900          1
1093400  72000.071249           3  400856821    15  1960000         -1
1093401  72000.071259           3  401483589    10  1405500          1
1093402  72000.071264           3  400878905  1000  1270000          1
1093403  72000.071266           3  401264165   250  1550000         -1

[1093404 rows x 6 columns]