In [125]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import warnings

In [126]:
AAPL_OB2 = pd.read_csv("./data/AAPL/AAPL_2019-01-02_24900000_57900000_orderbook_10.csv", header=None)
AAPL_M2 = pd.read_csv("./data/AAPL/AAPL_2019-01-02_24900000_57900000_message_10.csv", header=None)
AAPL_OB3 = pd.read_csv("./data/AAPL/AAPL_2019-01-03_24900000_57900000_orderbook_10.csv", header=None)
AAPL_M3 = pd.read_csv("./data/AAPL/AAPL_2019-01-03_24900000_57900000_message_10.csv", header=None)
AAPL_OB4 = pd.read_csv("./data/AAPL/AAPL_2019-01-04_24900000_57900000_orderbook_10.csv", header=None)
AAPL_M4 = pd.read_csv("./data/AAPL/AAPL_2019-01-04_24900000_57900000_message_10.csv", header=None)

In [127]:
OB_header = []
for i in range(1, AAPL_OB2.shape[1]//4 + 1):
    OB_header.append(f'ask_price_{i}')
    OB_header.append(f'ask_size_{i}')
    OB_header.append(f'bid_price_{i}')
    OB_header.append(f'bid_size_{i}')

AAPL_OB2.columns = OB_header
AAPL_OB3.columns = OB_header
AAPL_OB4.columns = OB_header
AAPL_OB2

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1,9999999999,0,1250000,100,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
3,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
4,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093399,1550000,250,1405500,10,1960000,15,1270000,1000,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093400,1550000,250,1405500,10,9999999999,0,1270000,1000,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093401,1550000,250,1270000,1000,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093402,1550000,250,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
1093403,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0

In [128]:
AAPL_M2 = AAPL_M2.iloc[:,:-1]
AAPL_M3 = AAPL_M3.iloc[:,:-1]
AAPL_M4 = AAPL_M4.iloc[:,:-1]

M_header = ['time', 'event_type', 'order_ID',
            'size', 'price', 'direction']

AAPL_M2.columns = M_header
AAPL_M3.columns = M_header
AAPL_M4.columns = M_header

AAPL_M2

                 time  event_type   order_ID  size    price  direction
0        11316.013356           7          0     0        1         -1
1        14400.018599           1      21353   100  1250000          1
2        14400.030102           1      33673     1  1307400          1
3        14400.031059           1      34089     1  1174800          1
4        14400.032449           1      34685   100   960600          1
...               ...         ...        ...   ...      ...        ...
1093399  72000.071248           3  400904933   100  1078900          1
1093400  72000.071249           3  400856821    15  1960000         -1
1093401  72000.071259           3  401483589    10  1405500          1
1093402  72000.071264           3  400878905  1000  1270000          1
1093403  72000.071266           3  401264165   250  1550000         -1

[1093404 rows x 6 columns]

In [129]:
AAPL_M2['time'] = pd.to_timedelta(AAPL_M2['time'], unit='s')
AAPL_M3['time'] = pd.to_timedelta(AAPL_M3['time'], unit='s')
AAPL_M4['time'] = pd.to_timedelta(AAPL_M4['time'], unit='s')

# Define the base date
base_date2 = pd.Timestamp('2019-01-02')
base_date3 = pd.Timestamp('2019-01-03')
base_date4 = pd.Timestamp('2019-01-04')

# Add the timedelta (time_sec) to the base date
AAPL_M2['datetime'] = base_date2 + AAPL_M2['time']
AAPL_M3['datetime'] = base_date3 + AAPL_M3['time']
AAPL_M4['datetime'] = base_date4 + AAPL_M4['time']


# Set the index to time_sec
AAPL_M2.set_index('datetime', inplace=True)
AAPL_M3.set_index('datetime', inplace=True)
AAPL_M4.set_index('datetime', inplace=True)

AAPL_M2.drop(columns=['time'], inplace=True)
AAPL_M3.drop(columns=['time'], inplace=True)
AAPL_M4.drop(columns=['time'], inplace=True)


AAPL_M2['event_number'] = range(len(AAPL_M2))
AAPL_M3['event_number'] = range(len(AAPL_M3))
AAPL_M4['event_number'] = range(len(AAPL_M4))

In [130]:
AAPL_OB2.set_index(AAPL_M2.index, inplace=True)
AAPL_OB3.set_index(AAPL_M3.index, inplace=True)
AAPL_OB4.set_index(AAPL_M4.index, inplace=True)

In [131]:
AAPL_M = pd.concat([AAPL_M2, AAPL_M3, AAPL_M4])
AAPL_M

,event_type,order_ID,size,price,direction,event_number
datetime,,,,,,
2019-01-02 03:08:36.013356218,7,0,0,1,-1,0
2019-01-02 04:00:00.018599456,1,21353,100,1250000,1,1
2019-01-02 04:00:00.030101712,1,33673,1,1307400,1,2
2019-01-02 04:00:00.031059467,1,34089,1,1174800,1,3
2019-01-02 04:00:00.032449400,1,34685,100,960600,1,4
...,...,...,...,...,...,...
2019-01-04 20:00:00.066903237,3,402563177,21,1481300,1,1178203
2019-01-04 20:00:00.066913568,3,401950705,7,1412100,1,1178204
2019-01-04 20:00:00.066937486,3,402489641,198,1239200,1,1178205
2019-01-04 20:00:00.067000788,3,402036241,1200,1479900,1,1178206
2019-01-04 20:00:00.067003136,3,402551737,100,1480000,1,1178207

In [132]:
AAPL_OB = pd.concat([AAPL_OB2, AAPL_OB3, AAPL_OB4])
AAPL_OB

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
datetime,,,,,,,,,,,,,,,,,,,,,
2019-01-02 03:08:36.013356218,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-02 04:00:00.018599456,9999999999,0,1250000,100,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-02 04:00:00.030101712,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-02 04:00:00.031059467,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-02 04:00:00.032449400,9999999999,0,1307400,1,9999999999,0,1250000,100,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-04 20:00:00.066903237,9999999999,0,1480000,100,9999999999,0,1479900,1200,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-04 20:00:00.066913568,9999999999,0,1480000,100,9999999999,0,1479900,1200,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-04 20:00:00.066937486,9999999999,0,1480000,100,9999999999,0,1479900,1200,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-04 20:00:00.067000788,9999999999,0,1480000,100,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0
2019-01-04 20:00:00.067003136,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,...,-9999999999,0,9999999999,0,-9999999999,0,9999999999,0,-9999999999,0

We now implement OFI, we will first only consider the execution of visible orders.

In [133]:
AAPL_M_vis = AAPL_M[AAPL_M['event_type'] == 4]
AAPL_OB_l1 = AAPL_OB.iloc[:, :4]

In [134]:
valid_rows = (AAPL_OB_l1['ask_price_1'] != 9999999999) & (AAPL_OB_l1['bid_price_1'] != -9999999999)
AAPL_OB_l1_filt = AAPL_OB_l1[valid_rows]
AAPL_OB_l1_filt['ask_price_1_change'] = AAPL_OB_l1_filt['ask_price_1'] - AAPL_OB_l1_filt['ask_price_1'].shift(1)
AAPL_OB_l1_filt['bid_price_1_change'] = AAPL_OB_l1_filt['bid_price_1'] - AAPL_OB_l1_filt['bid_price_1'].shift(1)
AAPL_OB_l1_filt['midprice'] = (AAPL_OB_l1_filt['ask_price_1'] + AAPL_OB_l1_filt['bid_price_1']) / 2


warnings.filterwarnings('ignore')

In [135]:
I_bid_ge = (AAPL_OB_l1_filt['bid_price_1_change'] >= 0).astype(int)
I_bid_le = (AAPL_OB_l1_filt['bid_price_1_change'] <= 0).astype(int)
I_ask_le = (AAPL_OB_l1_filt['ask_price_1_change'] <= 0).astype(int)
I_ask_ge = (AAPL_OB_l1_filt['ask_price_1_change'] >= 0).astype(int)

In [136]:
AAPL_OB_l1_filt['en'] = (I_bid_ge * AAPL_OB_l1_filt['bid_size_1'] - I_bid_le * AAPL_OB_l1_filt['bid_size_1'].shift(1) - 
            I_ask_le * AAPL_OB_l1_filt['ask_size_1'] + I_ask_ge * AAPL_OB_l1_filt['ask_size_1'].shift(1))

In [187]:
time_interval = '10S' 
ofi_AAPL = AAPL_OB_l1_filt['en'].resample(time_interval).sum().to_frame()
price_AAPL_r = AAPL_OB_l1_filt['midprice'].resample(time_interval).first()
price_AAPL_r
ofi_AAPL.rename({'en': 'ofi'}, inplace=True)

In [188]:
ofi_AAPL = ofi_AAPL.merge(price_AAPL_r, left_index=True, right_index=True, how='left')

In [189]:
ofi_AAPL['change_midprice'] = ofi_AAPL['midprice'].diff()

Keep only rows where change_midprice within 90th percentile

In [190]:
percentile_5 = ofi_AAPL['change_midprice'].quantile(0.05)
percentile_95 = ofi_AAPL['change_midprice'].quantile(0.95)

# Filter rows where change_midprice is between the 5th and 95th percentiles
filtered_ofi_AAPL = ofi_AAPL[(ofi_AAPL['change_midprice'] >= percentile_5) & (ofi_AAPL['change_midprice'] <= percentile_95)]

In [191]:
lm0 = smf.ols(formula="""change_midprice ~ en""", data=filtered_ofi_AAPL).fit()
lm0.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        change_midprice   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     30.90
Date:                Fri, 28 Jun 2024   Prob (F-statistic):           2.77e-08
Time:                        16:31:27   Log-Likelihood:                -90793.
No. Observations:               12494   AIC:                         1.816e+05
Df Residuals:                   12492   BIC:                         1.816e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.3543      3.101      0.114      0.909      -5.723       6.432
en             0.0031      0.001      5.559      0.000       0.002       0.004
==============================================================================
Omnibus:                       98.797   Durbin-Watson:                   2.039
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              148.287
Skew:                           0.063   Prob(JB):                     6.31e-33
Kurtosis:                       3.518   Cond. No.                     5.51e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.51e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""