In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [23]:
results_df = pd.read_csv("/nfs/home/jingt/dissertation-iceberg/data/output_regression/new_pred_ClOp_comb.csv")
results_df_all = pd.read_csv("/nfs/home/jingt/dissertation-iceberg/data/output_regression/new_pred_ClOp_all.csv")

In [24]:
# results_df = results_df[['ticker', 'timeframe', 'adj_R2', 'params_vis', 'tvals_hid', 'params_hid', 'tvals_momentum']]
# results_df.rename(columns={'tvals_hid': 'tvals_vis', 'tvals_momentum': 'tvals_hid'}, inplace=True)

# results_df = results_df[['ticker', 'timeframe', 'adj_R2', 'params_vis', 'tvals_hid', 'params_hid', 'tvals_ib', 'params_ib', 'tvals_momentum']]
# results_df.rename(columns={'tvals_hid': 'tvals_vis', 'tvals_ib': 'tvals_hid', 'tvals_momentum': 'tvals_ib'}, inplace=True)

# results_df_all = results_df_all[['ticker', 'timeframe', 'adj_R2', 'params_all', 'params_momentum']]
# results_df_all.rename(columns={'tvals_momentum': 'tvals_all'}, inplace=True)

In [25]:
results_df

,timeframe,intercept,adj_R2,params_vis,tvals_vis,params_hid,tvals_hid,params_SMB,tvals_SMB,params_HML,tvals_SMB.1,params_RF,tvals_RF,params_CMA,tvals_CMA,params_RMW,tvals_RMW,params_momentum,tvals_momentum,ticker,model_acc
0,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AES,0
1,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALB,0
2,daily,-0.000729,0.008294,-0.001240,-0.576257,0.002256,0.993394,-0.099864,-1.574657,0.001221,1.787094,0.001099,1.403514,0.003869,0.016625,-0.001899,-1.653670,0.000067,0.071394,AOS,0
3,daily,0.002867,-0.014433,0.001891,0.407908,0.001305,0.556584,-0.010027,-0.144918,-0.000415,-0.384119,0.000233,0.183846,-0.433344,-1.165144,-0.001318,-0.700128,0.001835,1.158474,APA,0
4,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEN,0
5,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BXP,0
6,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CPB,0
7,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DVA,0
8,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FFIV,0
9,daily,-0.001824,0.024648,-0.003116,-1.960024,0.000938,0.627787,-0.180354,-2.786492,0.000318,0.533030,0.000564,0.827504,0.235812,1.158862,0.000615,0.609849,-0.000053,-0.063571,FRT,0
10,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HII,0
11,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HRL,0
12,daily,-0.001866,-0.011027,0.003002,0.767566,-0.002444,-0.669534,-0.058359,-0.915696,0.001864,1.520486,0.000916,0.642145,0.154642,0.369044,-0.000280,-0.135093,0.001678,0.988810,HSIC,0
13,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INCY,0
14,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MHK,0
15,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWSA,0
16,daily,-0.003449,0.006340,-0.000664,-0.283400,0.001123,0.417824,-0.151201,-2.290072,-0.000302,-0.366335,0.000573,0.609749,0.396091,1.412559,-0.000083,-0.059532,-0.000935,-0.825289,PNW,0
17,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RL,0
18,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TAP,0
19,daily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WYNN,0

In [5]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [6]:
ticker_diff = results_df.groupby('timeframe')['adj_R2'].mean() - results_df_all.groupby('timeframe')['adj_R2'].mean()

In [7]:
results_df.groupby('timeframe')['adj_R2'].mean()

timeframe
10min   -0.000022
15min   -0.000417
1min     0.001351
2min     0.000540
30S      0.003580
30min    0.030259
5min     0.000102
Name: adj_R2, dtype: float64

In [8]:
ticker_diff * 100

timeframe
10min   -0.011571
15min   -0.019230
1min    -1.815988
2min    -2.843318
30S     -3.327557
30min   -1.907705
5min    -1.132939
Name: adj_R2, dtype: float64

In [16]:
ticker_lst = ['APA', 'DVA', 'HII', 'RL', 'WYNN']

results_filter = results_df[results_df['ticker'].isin(ticker_lst)]
# Multiply the mean and std by 10^5
results_filter[['params_vis', 'params_hid', 'params_ib']] *= 10**5

# # Define the custom order for the 'timeframe' column
# timeframe_order = ["30S", "1min", "2min", "5min", "10min", "15min", "30min"]

# # Convert 'timeframe' to a categorical type with the custom order
# results_filter['timeframe'] = pd.Categorical(results_filter['timeframe'], categories=timeframe_order, ordered=True)

# # Sort the DataFrame by the 'timeframe' column
# sorted_results_df = results_filter.sort_values('timeframe')

# sorted_results_df

/tmp/ipykernel_3933010/3386766862.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_filter[['params_vis', 'params_hid', 'params_ib']] *= 10**5

In [17]:
results_filter

,ticker,timeframe,adj_R2,params_vis,tvals_vis,params_hid,tvals_hid,params_ib,tvals_ib
21,APA,30S,0.000583,0.237666,0.848956,0.089136,0.219342,1.662900,5.588059
22,APA,1min,0.000648,-1.155912,-2.110110,0.319338,0.473106,0.571972,0.910188
23,APA,2min,0.000022,-0.546849,-0.447198,0.341736,0.286796,0.588176,0.387757
24,APA,5min,0.000108,-9.836035,-2.382834,0.451631,0.153240,-0.000106,-0.000020
25,APA,10min,0.000189,-20.141063,-2.010703,0.020546,0.003260,9.122790,0.729156
26,APA,15min,-0.000296,-13.386797,-0.814785,-7.810287,-0.760340,16.853134,0.829698
27,APA,30min,0.034138,0.284961,0.007538,-16.451798,-0.676248,68.274624,1.511047

In [11]:
(results_df['tvals_hid'].abs() > 1.64).sum()

3

In [12]:
# Perform the groupby operation and aggregate mean and std
grouped = results_df.groupby('timeframe')[['params_vis', 'params_hid', 'params_ib']].agg(['mean', 'std'])

# Multiply the mean and std by 10^5
grouped *= 10**4

# Define the custom order for the 'timeframe' column
timeframe_order = ["30S", "1min", "2min", "5min", "10min", "15min", "30min"]

# Convert 'timeframe' to a categorical type with the custom order
grouped.index = pd.Categorical(grouped.index, categories=timeframe_order, ordered=True)

# Sort the DataFrame by the 'timeframe' column
sorted_results_df = grouped.sort_index()

sorted_results_df

      params_vis           params_hid           params_ib
            mean       std       mean       std      mean       std
30S     0.260585  0.273798   0.009310  0.136140  0.220982  0.267953
1min    0.100783  0.271150  -0.047792  0.295418  0.067536  0.028128
2min    0.087799  0.189241  -0.239937  0.582547  0.153389  0.202065
5min   -0.024865  0.870010  -1.017795  2.003407  0.073088  0.167477
10min  -0.678763  0.925347   0.186849  0.642213 -0.001314  0.622518
15min  -0.926587  1.165362   0.359650  1.060871  0.317744  0.978074
30min  -3.393645  3.652688  -1.427969  3.839652  1.797191  3.362964